---
layout: layouts/base.njk
showAfterDarkTitle: false
permalink: /404.html
pageTitle: 404 | after-dark theme
---
<section style="text-align: center;">
  <h1>404 - NOT FOUND</h1>
  <p>Page not found. Sorry about that.</p>
  <p>Maybe try the <a href="/">homepage</a>?</p>
  <p>
    For troubleshooting, refer to the
    <a href="https://www.11ty.dev/docs/" target="_blank" rel="noopener">Eleventy documentation</a>.
  </p>
</section>
